@using Microsoft.CodeAnalysis.CSharp
@using SoftwareCompany.Client.Common.Entities
@using SoftwareCompany.Client.Common.Enumerations
@model SoftwareCompany.Client.WebApp.Models.EmployeeModel.CreateEmployeeModel
@{
    ViewData["Title"] = "CreateAccountPage";
}

<h1>Create Account Page</h1>

<div class="container" style="width: 500px">
    <form asp-controller="Employee" asp-action="CreateEmployee" method="post">
        <div class="form-group">
            <label>Account:</label>
            <select asp-for="test1" asp-items="@Model.Accounts" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label>Account:</label>
            <select asp-for="test2" asp-items="@Model.Teams" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label>First Name:</label>
            <input asp-for="Employee.Position" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>First Name:</label>
            <input asp-for="Employee.Salary" class="form-control" type="text">
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>First Name:</label>
                <input asp-for="Employee.DateOfEmployment" class="form-control" type="datetime">
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>