@using SoftwareCompany.Client.Common.Entities
@using SoftwareCompany.Client.WebApp.Infrasctucture
@{
    ViewData["Title"] = "Home Page";
}

@{
    @if (Context.Session.GetJson<Account>("account") == null)
    {
        Context.Response.Redirect("../Login");
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="container">
    <div class="card m-2">
        <h5 class="card-header">Account</h5>
        <div class="card-body">
            <h5 class="card-title">Account management</h5>
            <a asp-action="CreateAccountPage" asp-controller="Account" class="btn btn-primary m-1">Create Account</a>
            <a asp-action="" asp-controller="" class="btn btn-primary m-1">Update Account</a>
            <a asp-action="" asp-controller="" class="btn btn-primary m-1">Delete Account</a>
            <a asp-action="AccountList" asp-controller="Account" class="btn btn-primary m-1">Get Account List</a>
        </div>
    </div>
    <div class="card m-2">
        <h5 class="card-header">Employee</h5>
        <div class="card-body">
            <h5 class="card-title">Employee management</h5>
            <a asp-action="CreateEmployeePage" asp-controller="Employee" class="btn btn-primary m-1">Create Employee</a>
            <a asp-action="" asp-controller="" class="btn btn-primary m-1">Update Employee</a>
            <a asp-action="" asp-controller="" class="btn btn-primary m-1">Delete Employee</a>
            <a asp-action="EmployeeList" asp-controller="Employee" class="btn btn-primary m-1">Get Employee List</a>
        </div>
    </div>
    <div class="card m-2">
        <h5 class="card-header">Team</h5>
        <div class="card-body">
            <h5 class="card-title">Team management</h5>
            <a asp-action="CreateTeamPage" asp-controller="Team" class="btn btn-primary m-1">Create Team</a>
            <a asp-action="" asp-controller="" class="btn btn-primary m-1">Update Team</a>
            <a asp-action="" asp-controller="" class="btn btn-primary m-1">Delete Team</a>
            <a asp-action="TeamList" asp-controller="Team" class="btn btn-primary m-1">Get Team List</a>
        </div>
    </div>
    <div class="card m-2">
        <h5 class="card-header">Project</h5>
        <div class="card-body">
            <h5 class="card-title">Project management</h5>
            <a asp-action="CreateProjectPage" asp-controller="Project" class="btn btn-primary m-1">Create Project</a>
            <a asp-action="" asp-controller="Project" class="btn btn-primary m-1">Update Project</a>
            <a asp-action="ProjectList" asp-controller="Project" class="btn btn-primary m-1">Get Project List</a>
            <a asp-action="GetProjectByteamIdPage" asp-controller="Project" class="btn btn-primary m-1">Get Project By Team Id</a>
        </div>
    </div>
    <div class="card m-2">
        <h5 class="card-header">Task</h5>
        <div class="card-body">
            <h5 class="card-title">Task management</h5>
            <a asp-action="Index" asp-controller="" class="btn btn-primary m-1">Create Task</a>
            <a asp-action="Index" asp-controller="" class="btn btn-primary m-1">Update Task</a>
            <a asp-action="Index" asp-controller="" class="btn btn-primary m-1">Get All Task</a>
            <a asp-action="Index" asp-controller="" class="btn btn-primary m-1">Get Project Task By Employee Id</a>
            <a asp-action="Index" asp-controller="" class="btn btn-primary m-1">Get Count Project Task By Project Id</a>
            <a asp-action="Index" asp-controller="" class="btn btn-primary m-1">Get Count Success Project Task By Project Id</a>
            <a asp-action="Index" asp-controller="" class="btn btn-primary m-1">Get Percent Success Project Task By Project Id</a>
        </div>
    </div>

</div>
