@model SoftwareCompany.Client.WebApp.Models.AccountModel.GetAllAccountModelFailed
@{
    ViewData["Title"] = "ErrorLoadList";
}

<h1>Error</h1>
<div class="alert alert-danger" role="alert">
    @Model.operationStatusInfo.AttachedInfo
</div>

